/**************tag selectors**************/
body{
    background-color: black;
   }
h1{
    color:#F7ECDE;
}
h2{
    color:#F7ECDE;
}
p{
    color:rgb(122, 122, 122);
}
table{
    color:rgb(138, 138, 138);
}
li{
    color:rgb(138, 138, 138)
}
thead{
    color:#F7ECDE;
}
hr {
       border-color: grey; 
       border-style: dotted none none;
       border-width: 5px;
       width: 5%;
   }
a{
    color:rgb(135, 155, 165);
}
a:hover{
 color:wheat;
}
/**************class selectors*************/ 
.ind{
    text-align: center;
}
.stars:hover{
   color:gold;
}
.years:hover{
    color:#F7ECDE;
}
.Top{
    padding:10%;
}
.Mid1{
    padding:0 10%;
    margin:40px auto 0;
}
.Mid1-heading{
    font-size:30px;
    text-align:center;
    margin-bottom: 40px;
}
.table{
    width:100%;
    border-collapse: collapse;

}
.table tbody tr{
    text-align: center;
}

.Bottom{
    float:right;
}
.Bottom h2{
      display: inline-block;
      padding:0px 20px;
}
